
@font-face {
  font-family:"iconfont";
  src:url('../iconfont/../iconfont/iconfont.eot');
  /* IE9*/
  src:url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('../iconfont/iconfont.woff') format('woff'),/* chrome,firefox */
  url('../iconfont/iconfont.ttf') format('truetype'),/* chrome,firefox,opera,Safari,Android,iOS 4.2+*/
  url('../iconfont/iconfont.svg#../iconfont/iconfont') format('svg');
  /* iOS 4.1- */
}
.h-menu-iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  padding-right:10px;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}
.h-menur-iconfont {
  font-family:"iconfont" !important;
  font-size:14px;
  padding-left:60px;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}
.h-btn-iconfont {
  font-family:"iconfont" !important;
  font-size:20px;color:#fff;
  text-align:center;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}
.h-search-iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}
.h-car-iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  padding-right:5px;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}
.h-top-iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  padding-right:2px;
  padding-left:2px;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}
@font-face {
  font-family:"kqm";
  src:url('../iconfont/kqm.eot');
  /* IE9*/
  src:url('../iconfont/kqm.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('../iconfont/kqm.woff') format('woff'),/* chrome,firefox */
  url('../iconfont/kqm.ttf') format('truetype'),/* chrome,firefox,opera,Safari,Android,iOS 4.2+*/
  url('../iconfont/kqm.svg#../iconfont/kqm') format('svg');
  /* iOS 4.1- */
}
.h-menu-kqm {
  font-family:"kqm" !important;
  font-size:16px;
  font-style:normal;
  padding-right:10px;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}
@font-face {
  font-family:"foot";
  src:url('../iconfont/foot.eot?t=1458282270');
  /* IE9*/
  src:url('../iconfont/foot.eot?t=1458282270#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('../iconfont/foot.woff?t=1458282270') format('woff'),/* chrome,firefox */
  url('../iconfont/foot.ttf?t=1458282270') format('truetype'),/* chrome,firefox,opera,Safari,Android,iOS 4.2+*/
  url('../iconfont/foot.svg?t=1458282270#foot') format('svg');
  /* iOS 4.1- */
}
.foot-icon {
  font-family:"foot" !important;
  font-size:50px;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}

@font-face {font-family: "kongqi";
  src: url('../iconfont/kongqi.eot?t=1461208670'); /* IE9*/
  src: url('../iconfont/kongqi.eot?t=1461208670#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/kongqi.woff?t=1461208670') format('woff'), /* chrome, firefox */
  url('../iconfont/kongqi.ttf?t=1461208670') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/kongqi.svg?t=1461208670#kongqi') format('svg'); /* iOS 4.1- */
}

.kongqi {
  font-family:"kongqi" !important;
  font-size:16px;
  font-style:normal;
    padding-right:10px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}